# dotfiles
.DS_Store
.ackrc
.agignore
.coverage
.noseids
.rgignore
.test_setup_timer
*.tsbuildinfo*
.mutagen*

# dotfiles - PyCharm (see also JetBrains block below)
**/.idea/BlackPycharmConfig.xml
**/.idea/csv-editor.xml
**/.idea/csv-plugin.xml
**/.idea/dataSources.xml
**/.idea/httpRequests/**
**/.idea/jsLinters/eslint.xml
**/.idea/misc.xml
**/.idea/prettier.xml
**/.idea/remote-mappings.xml
**/.idea/sqldialects.xml
packages/benchling-apispec/.idea/**
services/airflow/.idea
services/crispr-off-target/.idea
services/gantry/.idea
services/machine-learning/.idea
services/orchestration-flow-manager/.idea

# dotfiles - MyPy
.mypy_cache
.dmypy.json

# dotfiles - VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# dotfiles (not third party)
.buildkite_access_token
.config_credentials_dev.json
.config_credentials_ops.json
.jenkins_api_key
.packer-secrets.json
.pg_passwords
.pytest_cache
.pyunit_server_cache
.test_setup_timer

# files
docker-compose.override.yml
ghostdriver.log
jsconfig.json
/infra/**/replace_ecs.zip
local_dev/local_shell_context.py
local_dev/dev_secrets.json
yarn-error.log
npm-debug.log*
/report.*.json
rna.ps
files_to_decaffeinate.txt
bulk-decaffeinate*
!bulk-decaffeinate.config.js
build-storybook.log
decaffeinate-errors.log
decaffeinate-results.json
decaffeinate-successful-files.txt

# Needed for Docker build but too big to store in repo
resources/marvin_linux_18.16.deb
docker-images/devbox/resources

# folders
*/target/*
__pycache__
benchling/static/css/*.css
benchling/static/js/
build/
dist/
coverage/
email_preview/
static-storybook/
instance/**
js-build/
node_modules
browser-tests/output/**
.envs/
.ruff_cache
scripts/dev/graphql-inspector/.schema_snapshots

# filetypes
*.pyc
*.sublime-workspace
*.swo
*.swp

# SQLite files for keeping track of local transactions
browser-tests/tenant_transaction_log_*

# Generated to statically verify our auditing rules are followed by all queries. It's easier to gitignore this
# than remember to delete it every time.
benchling/graphql/current-queries.json

# Next block (ending in #####) copied from https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/**/usage.statistics.xml
**/.idea/**/dictionaries
**/.idea/**/shelf

# Generated files
**/.idea/**/contentModel.xml

# Sensitive or high-churn files
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml
**/.idea/**/uiDesigner.xml
**/.idea/**/dbnavigator.xml

#####

# Generated dbt files
services/airflow/**/logs
services/airflow/**/target
services/airflow/**/dbt_profiles/.user.yml
services/airflow/postgres_data
services/airflow/.docker
services/airflow/**/dbt_modules
services/airflow/**/dbt/execution_graph.json

# Generated airflow files
services/airflow/**/airflow.cfg
services/airflow/**/*.pid
services/airflow/**/*.db

# DBT Docsite artifacts
infra/tf-modules/data-eng-internal-static-site/files/distributions/**

# Generated ML files
services/machine-learning/local

# eggfiles
services/airflow/src/airflow_service.egg-info
services/gantry/src/gantry.egg-info
*.egg-info/

# Hypothesis (Property based tests for Python) cache
.hypothesis

# Monketype cache (autogenerated Python types)
monkeytype.sqlite3

.aws-sam

# Generated certificates for local development
.webpack/dev-certs/*.pem

# Potentially sensitive, should not check in
*.tfstate

# Scale all outputfiles
ecs-scale-*.json

# PyCharm test coverage files
.coveragerc
coverage.xml
coverage.coverage

# Potential CodeArtifact secrets
.npmrc
.yarnrc
.benchling_pip.conf
benchling_pip.conf

# Bazel artifacts
bazel-aurelia
bazel-bin
bazel-genfiles
bazel-out
bazel-src
bazel-testlogs

# Bazel flag overrides per user
.bazelrc.user

# dev configuration
.dev.conf
.dev.conf.lock

# dev doctor system files
.dev-doctor/

# GraphQL codegen extras
graphql-extras.json